* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  margin: auto;
  padding: 36px 48px 48px 48px;
  background-color: #f2efee;

  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.title {
  padding: 15px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.form label {
  display: block;
  margin-bottom: 8px;
}

.form input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
}
.invalid {
  border: 1px solid red !important;
}

.form input:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(253, 242, 233, 0.5);
}

.btn--form {
  background-color: #f5ba13;
  color: #fdf2e9;
  align-self: end;
  padding: 8px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

button {
  outline: 1px solid #f5ba13;
}

.btn--form:hover {
  background-color: #fdf2e9;
  color: #f5ba13;
}

.switch-text{
  text-align: center;
  color: gray;
}

.switch {
 
  text-decoration: underline;
}
.switch:hover,
.switch:active{
  cursor: pointer;
}