@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");
.links {
  text-decoration: none;
  font-size: 3rem;
  color: aliceblue;
  padding: 1rem;
  margin-bottom: 10px;
  font-family: "McLaren", cursive;

}

.btn-navbar-open {

  background: transparent;
  width: 3rem;
  height: 3rem;
  border-style: none;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  cursor: pointer;
  padding : 0.3rem;
  margin: 1rem;
}

.btn-navbar-open span {
  display: block;
  width: 2.5rem;
  height: 2.5px;
  background: white;
}
@media (min-width: 768px) {
  .btn-navbar-open{
    display: none;
  }
  
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}